<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/tpwquotesdb</property>
    <property name="connection.username">tpwquotes</property>
    <property name="connection.password">tpwquotes</property>

    <property name="connection.pool_size">5</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="current_session_context_class">thread</property>
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

    <property name="show_sql">true</property>

    <property name="hbm2ddl.auto">create</property>

    <mapping class="tpwquotes.model.Ad"/> 
    <mapping class="tpwquotes.model.Balance"/>
    <mapping class="tpwquotes.model.BalancePk"/>
    <mapping class="tpwquotes.model.Interest"/>
    <mapping class="tpwquotes.model.Investment"/>
    <mapping class="tpwquotes.model.Loan"/>
    <mapping class="tpwquotes.model.Quote"/>
    <mapping class="tpwquotes.model.Tick"/>
    <mapping class="tpwquotes.model.TickPk"/>
    <mapping class="tpwquotes.model.Transaction"/>
    <mapping class="tpwquotes.model.User"/>
    <mapping class="tpwquotes.model.Wallet"/>
    <mapping class="tpwquotes.model.WalletPk"/>
    
  </session-factory>
</hibernate-configuration>

