<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>tpwquotes.servlet.UserServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LoanServlet</servlet-name>
    <servlet-class>tpwquotes.servlet.LoanServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userservlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LoanServlet</servlet-name>
    <url-pattern>/loanservlet</url-pattern>
  </servlet-mapping>
</web-app>

